@model Fablab.Models.Inventario

@{
    ViewData["Title"] = "Inventario";
}

<h1>Inventario FabLab</h1>
<div asp-validation-summary="All"></div>
<a href="/Home/RegistroInventario" class="btn btn-success mt-3">Agregar Inventario</a>