@model Fablab.Models.Pasante

<h1>Registro de Pasante</h1>
<div asp-validation-summary="All"></div>
<form action="" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input type="text" name="Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input type="text" name="Apellido" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" name="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input type="phone" name="Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input type="tel" name="Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DNI"></label>
        <input type="text" name="DNI" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="FechaNac"></label>
        <input type="date" name="FechaNac" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="semestre" class="control-label"></label>
        <select name="Semestre" class="custom-select">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Trabaja"></label>
        <input type="checkbox" name="Trabaja" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Habilidades"></label>
        <textarea asp-for="Habilidades" class="form-control"></textarea>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary">Registrar</button>
    </div>
</form>